.box {
  width: 100px;
  height: 50px;
  background: red; }
  .box .logo {
    background: blue; }
  .box .title {
    font-size: 15px; }

.name {
  color: #000; }
  .name .name-box {
    margin-top: 10px; }
